<nav class="navbar navbar-expand-md fixed-top navbar-light bg-primary">
     <a class="navbar-brand text-white" href="#"> <span id="navTitle">Mongo Scraper</span>
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
               <li class="nav-item active">
                    <a class="nav-link text-white" href="/">Home </a>
               </li>
               <li class="nav-item">
                    <a class="nav-link text-white" href="/savedarticles">Saved Articles<span class="sr-only">(current)</span></a>
               </li>
          </ul>
          <form class="form-inline">
               <button class="btn m-2 my-sm-0 btn-danger clearArticlesBtn" type="button">Clear Articles!</button>
          </form>
     </div>
</nav>


<div class="jumbotron jumbotron-fluid bg-cover my-5">
     <div class="container">
          <div class="row">
               <div class="col-md-12 text-center text-white py-5">
                    <h1>Saved Articles</h1>
                    <p>Here is a list of your saved articles</p>
               </div>
          </div>
     </div>
</div>

{{#unless hide}}
<div class="container-fluid" id="savedArticleSection">
     {{#each results}}
     <div class="card text-white bg-info mb-3" id="{{this._id}}">
          <div class="card-header">
               <a class="text-white" target="_blank" href="{{this.articleLink}}">{{this.articleTitle}}</a>
               <button type="button" class="btn float-right ml-2 articleNoteBtn text-white" data-id="{{this._id}}">Article Notes</button>
               <button type="button" class="btn btn-danger float-right unsaveArticleBtn" data-id="{{this._id}}">Delete From Saved</button>
          </div>
          <div class="card-body bg-white">
               <p class="card-text text-dark">{{this.articleText}}</p>
          </div>
     </div>
     {{/each}}
</div>
{{/unless}}

{{#if hide}}
<div class="container-fluid mb-3 border" id="ifNoSavedArticles">
     <div class="row bg-warning my-3 py-2">
          <div class="col-md-12 text-center text-white">
               <span>You don't have any saved articles</span>
          </div>
     </div>
     <div class="row bg-info py-2">
          <div class="col-md-12 text-center text-white">
               <h4>Would you like to browse available articles?</h4>
          </div>
     </div>
     <div class="row bg-light py-2">
          <div class="col-md-12 text-center text-blue">
               <a href="/">Browse Articles</a>
          </div>
     </div>
</div>
{{/if}}

<footer class="container-fluid">
     <div class="row text-center text-white bg-secondary">
          <div class="col-md-12 pt-3">
               <p>Mongo Scraper Application</p>
          </div>
     </div>
</footer>

<div class="modal fade show" tabindex="-1" role="dialog" id="notesModal" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="notesModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeNotesBtn">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>
               <div class="modal-body">
                    <div class="container-fluid text-center">
                         <ul class="list-group" id="notesList">
                         </ul>
                         <textarea placeholder="New Note" rows="4" cols="60" id="noteBody"></textarea>
                    </div>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="saveNoteBtn">Save Note</button>
               </div>
          </div>
     </div>
</div>


<script type="text/javascript" src="/js/index.js"></script>